modules = ["nodejs-20", "python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["iana-etc"]

[workflows]

[deployment]
deploymentTarget = "static"
publicDir = "./static"
run = ["sh", "-c", "cd static && python -m http.server 8080"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8080
externalPort = 8080
